body {
	font-family: "Inter";
	color: #6C7D88;
}

h1 {
	font-size: 30pt;
	font-weight: 700;
	color: #4D4D4D;
}

h2 {
	font-size: 18pt;
	font-weight: 700;
	color: #4D4D4D;
}

h3 {
	font-size: 16pt;
	font-weight: 700;
	color: #4D4D4D;
}

p {
	font-size: 12pt;
	font-weight: 400;
}

li {
	font-size: 12pt;
	font-weight: 400;
	line-height: 12pt;
}

.highlight {
	font-size: 12pt;
	font-weight: 500;
}

.quote {
	font-family: "IBM Plex Mono";
	font-size: 15pt;
	font-style: italic;
}

.footnote {
	font-size: 6.6pt;
}