/* Temporary styles - just used for dev. All styles in this file should be moved into the component js files */

.box-overview-card {
	display: flex;
	padding: 15px;
	border-bottom: 1px solid #EDEDED;
	margin-bottom: 40px;
  padding-bottom: 40px;
	margin-top: 40px;
}

.box-overview-card .content-left {
	width: 60%;
	padding-right: 5%;
}

.box-overview-card .image-right {
	width: 40%;
  max-width: 350px;
}

.box-overview-card-dyn {
	padding: 15px;
	border-bottom: 1px solid #EDEDED;
	margin-bottom: 40px;
  padding-bottom: 40px;
}

.box-overview-card-dyn .content {

}


.box-overview-card-dyn .inline-image-float-right {
	width: 35%;
	float: right;
	margin-left: 15px;
}

.box-action-cards {
	padding: 15px;
	margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #EDEDED;
}

.box-action-cards .content-wrapper {
	display: flex;
}

.box-action-cards .content-wrapper .action-card {
	flex: 1;
	position: relative;
	margin: 0 15px;
}

.box-action-cards .content-wrapper .action-card:first-child {
	margin-left: 0;
}

.box-action-cards .content-wrapper .action-card:last-child {
	margin-right: 0;
}

.box-action-cards .content-wrapper .action-card .action-icon {
  height: 30px;
  margin: 40px auto 40px auto;
}

a.action-link {
	color: #1348E3;
	font-weight:700;
	text-decoration: none;
}

a.action-link img {
  display: inline-block;
  margin-bottom: -3px;
  margin-left: 10px;
}

.box-action-cards .content-wrapper .action-card p {
	padding-bottom: 30px;
}

.box-action-cards .content-wrapper .action-card a.action-link {
	position: absolute;
	bottom: 0;
}

.box-action-cards .content-wrapper .action-card-large {
	flex: 1;
	position: relative;
	margin: 0 15px;
}

.box-action-cards .content-wrapper .action-card-large:first-child {
	margin-left: 0;
}

.box-action-cards .content-wrapper .action-card-large:last-child {
	margin-right: 0;
}

.box-action-cards .content-wrapper .action-card-large .banner-image {
	width: 100%;
	border: 1px solid #cbcbcb;
}

.box-action-cards .content-wrapper .action-card-large .action-card-table {
	border: 0;
	width: 100%;
}

.box-action-cards .content-wrapper .action-card-large .action-card-table tr {

}

.box-action-cards .content-wrapper .action-card-large .action-card-table td {
	padding: 0 0 10px 0;
	border: 0;
	padding-bottom: 20px;
}

.box-action-cards .content-wrapper .action-card-large .action-card-table td.left {
	width: 40%;
}

.box-action-cards .content-wrapper .action-card-large .action-card-table a.main-link {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10pt;
	color: #1348E3;
	text-decoration: none;
}

.box-action-cards .content-wrapper .action-card-large .action-card-table a.sub-link {
	display: block;
	text-decoration: none;
	color: #6C7D88;
}

.box-action-cards .content-wrapper .action-card-large .action-card-table a.sub-link:hover {
	color: #1348E3;
}
